<div class="custom-autocomplete" *ngIf="!isSettingsError">
  <div class="custom-autocomplete__container" >
    <div class="custom-autocomplete__input" [ngClass]="{'button-included':settings.showSearchButton}">
      <input  [(ngModel)]="locationInput" (click)="searchinputClickCallback($event)"  (keyup)="searchinputCallback($event)"
       type="search" name="search" id="search_places" placeholder="{{settings.inputPlaceholderText}}" autocomplete="off">
      <button class="search-icon" *ngIf="settings.showSearchButton" (click)="userQuerySubmit()">
        <i *ngIf="settings.searchIconUrl" [ngStyle]="{'background-image': 'url(' + settings.searchIconUrl + ')'}"></i>
        <i *ngIf="!settings.searchIconUrl" class="search-default-icon"></i>
      </button>
    </div>
    <pre class="custom-autocomplete__loader" *ngIf="gettingCurrentLocationFlag"><i class="gif"></i></pre>
  </div>
  <ul class="custom-autocomplete__dropdown" *ngIf="dropdownOpen && queryItems.length">
    <li *ngFor = "let data of queryItems;let $index = index" [ngClass]="{'active': data.active}">
      <a href="javascript:;" (mouseover)="activeListNode($index)" (click)="selectedListNode($index)">
        <i class="custom-icon" *ngIf="settings.locationIconUrl" [ngStyle]="{'background-image': 'url(' + settings.locationIconUrl + ')'}"></i>
        <i class="custom-icon location-default-icon" *ngIf="!settings.locationIconUrl"></i>
          <span class="main-text">
            {{data.structured_formatting?.main_text ? data.structured_formatting.main_text : data.description}}
          </span>
          <span class="secondary_text" *ngIf="data.structured_formatting?.secondary_text">{{data.structured_formatting.secondary_text}}</span>
      </a>
    </li>
  </ul>
</div>
<div class="custom-autocomplete--error" *ngIf="isSettingsError">{{settingsErrorMsg}}</div>
<br>
<br><br><br>
<h4> {{ fullAddress }} </h4>
<form [formGroup]="googleForm">
<div>
  <div class="form-group">
    <label class="sr-only" for="streetAddress">Street Address : </label>
    <input type="text" formControlName="streetNumber" class="form-control" id="streetAddress1">
    <input type="text" formControlName="streetName"  class="form-control" id="streetAddress2">
  </div>
  <br>
  <div class="form-group">
    <label class="sr-only" for="city">City : </label>
    <input type="text"  formControlName="city" class="form-control" id="city">
  </div>
  <br>
  <div class="form-group">
    <label class="sr-only" for="state">State : </label>
    <input type="text"  formControlName="state" class="form-control" id="state">
  </div>
  <br>
  <div class="form-group">
    <label class="sr-only" for="zip">Zipcode : </label>
    <input type="text"  formControlName="zipCode" class="form-control" id="zip">
  </div>
  <br>
  <div class="form-group">
    <label class="sr-only" for="country">Country : </label>
    <input type="text"  formControlName="country" class="form-control" id="country">
  </div>
  <br>
  </div>
</form>